@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh; 
    justify-content: space-between;
    align-items: center;
    background: #181616;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    padding: 67px 50px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
}

header .logo{
    position: relative;
    max-width: 200px;
    display: flex;
    margin-top: -60px;
}

header .Navigation{
    position: relative;
    display: flex;
}

header .Navigation li{
    list-style: none;
}

header .Navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    border: 5px #0c1ae7 solid;
}

.buy{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px red solid;
}

span{
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: larger;
}

.Stores h3{
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: larger;
}

.store{
    display: flex;
    justify-content: center;
    margin-top: 3cm;
}

.socialmedia{
    display: flex;
    align-items: center;
    margin-top: 10vh;
    margin-left: 10vh;
    z-index: 999;
}

.socialmedia li{
    list-style: none;
}

.socialmedia li a{
    display: flex;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.socialmedia a:hover{
    background: #0c1ae7;
    transform: translateY(-10px);
}

.socialmedia li a img{
    filter: invert(1);
    transform: scale(0.5);
}

@media(max-width: 768px){
    header{
        padding: 30px;
    }
    header .logo{
        margin-top: -40px;
        margin-left: -50px;
    }
    section{
        max-width: 100%;
    }
    header .Navigation{
        display: none;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    header .Navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0c1ae7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    header .Navigation li a {
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin-left: 0;
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(./HamburgerMenu/menuwhite.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .toggle.active{
        position: fixed;
        right: 40px;
        background: url(./HamburgerMenu/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}